{
	"extends": "hapi",
	"rules": {
		"indent": [2, "tab"],
		"sort-vars": 0,
		"hapi/hapi-scope-start": 0,
		"object-curly-spacing": [2, "never"],
		"space-before-function-paren": 0,
		"consistent-this": 0,
		"func-style": [2, "declaration"],
		"one-var": [2, "always"]
	}
}
